# Core
streamlit==1.45.1
pandas==2.3.2
numpy
scikit-learn==1.7.2
matplotlib==3.7.5
seaborn==0.12.2
plotly==6.1.2

# AI / LangChain
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.63
langsmith==0.1.147
openai==1.82.1
pandasai==3.0.0a11


# Cloud/Storage (if you actually use it)
s3fs==2025.3.0   # pick version matching fsspec>=2025.3
fsspec==2025.3.0

# Utils
python-dotenv==1.1.0
requests==2.32.3
